@import url('https://fonts.googleapis.com/css?family=Bubblegum+Sans');
 body {
     background-color: lightblue;
     font-family: 'Bubblegum Sans', cursive;
     font-size: 1.5em;
}
 #gameboard {
     width: 100%;
     margin: 0 auto;
     max-width: 1000px;
}
 .row {
     height: 100px;
     width: 100%;
     display: inline-block;
     text-align: center;
}
 .box {
     max-width: 100px;
     width: 300px;
     height: 100px;
     box-shadow: 1px 1px 2px #616161;
     display: inline-block;
     background-color: white;
     border-radius: 20%;
     margin: 0 auto;
     box-sizing: border-box;
}
 img {
     margin: 0 auto;
}
 h1 {
     color: white;
     text-align: center;
     font-size: 4em;
     text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
 h3 {
     text-align: center;
     color: black;
     font-weight: bold;
}
 .welcome {
     text-align: center;
     font-size: 1em;
     font-weight: bold;
     max-width: 30%;
     margin: 0 auto;
     text-align: justify;
}
 .submit {
     border: 1px solid black;
     margin: 0 auto;
     font-size: .7em;
     background-color: white;
}
 .submit:hover {
     border: 1px solid black;
     text-align: center;
     background-color: white;
     cursor: pointer;
}
 .namefield {
     border: 1px solid black;
     text-align: center;
     color: grey;
     margin: 0 auto;
     font-family: 'Bubblegum Sans', cursive;
}
 #name-entry {
     text-align: center;
     font-weight: bold;
     color: black;
     margin: 0 auto;
}
 #messageArea {
     text-align: center;
     margin-top: 10%;
     font-weight: bold;
     font-size: 2em;
     color: black;
}
 p {
     color: black;
}
